@tailwind base;
@tailwind components;
@tailwind utilities;



  .router-link-active {
    color: blue;
  }


  .text-sm {
    font-size: 1.25rem !important;
  }

  .gallery__grid > *:hover { filter: blur(0) !important; transition-delay: 0ms, 0ms; }
  
body{
    font-family: 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-smoothing: antialiased;
  font-size: 1.25rem;
}

@media screen and (max-width: 1024px) {
  body,   .text-sm, .grid__content {
  font-size: 0.75rem !important;
  }

  nav, .nav {
    font-size: 1.25rem;
  }
}


.lazyLoad {
  opacity: 0;
  transition: none;
}

.isLoaded {
  opacity: 1;
}

html, body {
    overscroll-behavior-y: none;
  }



.single-project .nav {
    display: none;
}



.container{
    @apply mx-auto max-w-5xl px-10 sm:px-0;
}
