@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Signifier';
  src: url('/assets/fonts/Signifier-BlackItalic.woff2') format('woff2'),
      url('/assets/fonts/Signifier-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/assets/fonts/Signifier-Light.woff2') format('woff2'),
      url('/assets/fonts/Signifier-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/assets/fonts/Signifier-Black.woff2') format('woff2'),
      url('/assets/fonts/Signifier-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/assets/fonts/Signifier-LightItalic.woff2') format('woff2'),
      url('/assets/fonts/Signifier-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}




  .router-link-active {
    color: blue;
    font-style: italic;
  }

  .logo {
    font-style: normal !important;
  }


  .text-sm {
    line-height: 1rem !important;
    font-size: 0.75rem !important;
  }

  .gallery__grid > *:hover { filter: blur(0) !important; transition-delay: 0ms, 0ms; }
  
body{
    font-family: 'Signifier', Times, serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
	-moz-osx-font-smoothing: antialiased;
	font-smoothing: antialiased;
  font-size: 0.75rem;
}

@media screen and (max-width: 1024px) {
  body,   .text-sm, .grid__content {
  font-size: 0.75rem !important;
  }

  nav, .nav {
    font-size: 0.75rem;
  }
}


.lazyLoad {
  opacity: 0;
  transition: none;
}

.isLoaded {
  opacity: 1;
}

html, body {
    overscroll-behavior-y: none;
  }



.single-project .nav {
    display: none;
}



.container{
    @apply mx-auto max-w-5xl px-10 sm:px-0;
}
